# Gradle
.gradle/
build/
app/build/

# Local configuration
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
.DS_Store
captures/
.externalNativeBuild/
.cxx/

# Keystores (never commit signing keys)
*.jks
*.keystore

# Logs
*.log
